[submodule "vendor/opencv"]
	path = vendor/opencv
	url = https://github.com/opencv/opencv.git
	branch = 4.12.0
[submodule "vendor/opencv_contrib"]
	path = vendor/opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
	branch = 4.12.0
[submodule "vendor/freetype"]
	path = vendor/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
	branch = VER-2-14-1
[submodule "vendor/harfbuzz"]
	path = vendor/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
	branch = 11.5.0
